@charset "UTF-8";
@font-face {
  font-family: "FT88";
  src: url("https://gitlab.com/Eugenie-B/degheest-types/-/raw/22a7ed8a6371d98e7f8a6fdb4db74a17885ae3bf/fonts/webfonts/FT88-Italic.woff")
    format("truetype");
}
@font-face {
  font-family: "FT88regular";
  src: url("https://gitlab.com/Eugenie-B/degheest-types/-/raw/22a7ed8a6371d98e7f8a6fdb4db74a17885ae3bf/fonts/webfonts/FT88-Regular.woff")
    format("truetype");
}
@font-face {
  font-family: "FT88bold";
  src: url("https://gitlab.com/Eugenie-B/degheest-types/-/raw/22a7ed8a6371d98e7f8a6fdb4db74a17885ae3bf/fonts/webfonts/FT88-Bold.woff")
    format("truetype");
}
@font-face {
  font-family: "Abordage";
  src: url("https://gitlab.com/Eugenie-B/degheest-types/-/raw/master/fonts/webfonts/Abordage-Regular.woff")
    format("truetype");
}


* {
   box-sizing: border-box;
   margin: 0;
  }
  body {
   
    background-color: #eef8f4;
  }
    body.border {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: inset 0px 0px 15px 5px rgb(161, 198, 164);
    box-shadow: inset 0px 0px 15px 5px rgb(161, 198, 164);
    z-index: -1
  }
  #text {
    font-family: Abordage;
    padding: 400px 30px 120px;
    font-size: 40px;
  }

 
#main{
 display:grid;
 grid-template-columns: repeat(auto-fit minimax(30px, 1fr)); 
 height:100%;
 border: solid black;
}
img, p{
display: block;
}
img{
 width:5%
}
p{
  font-family: Abordage;
  font-size: 7px;
}